<%- include('partials/header'); -%>


<form>
<h2>sign up</h2>
<label for ="email">email</label>
<input type="text" name ='email required'/>
<div class="email error"></div>
    label for ="password">password</label>
<input type="password" name ='password required'/>
<div class="passwotrd error"></div>
    <button>signup</button>
</form>
<script>
    const form= document.querySelector('form')
    form.addEventlistner('submit',(e)=>{
        e.preventfault();
        const email=form.email.value
        const password=form.password.value;
        console.log(email,password)
    })


<%- include('partials/footer'); -%>